/*!
 * Modified for GitLab Activity Stream by Coding-HeN - V1.0.0 - 26/8/2018
 * https://gitlab.com/Coding-Hen/gitlab-activity
 * GitHub Activity Stream - v0.1.4 - 10/7/2015
 * https://github.com/caseyscarborough/github-activity
 *
 * Copyright (c) 2015 Casey Scarborough
 * MIT License
 * http://opensource.org/licenses/MIT
 */

 .gha-feed {
  width: 100%;
  height: 100%;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.3;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.gha-feed, .gha-feed h2, .gha-feed h3, .gha-feed p, .gha-feed ul, .gha-feed li {
  margin: 0;
  padding: 0;
}

.gha-feed ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gha-feed li {
  list-style-type: none;
  line-height: 1.4;
}

.gha-feed small{
  color: #666;
  font-weight: normal;
  font-size: 13px;
}

.gha-feed small a {
  font-weight: normal;
}

.gha-feed small a .more-commits { font-size: 11px; }

span.gha-time {
  color: #bbb;
  font-weight: normal; 
  font-size: 12px; 
}

.gha-feed a {
  color: #4183c4;
  text-decoration: none;
  font-weight: bold;
}

.gha-feed a:hover {
  text-decoration: underline;
}

.gha-feed pre {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 4px #bbb;
  color: white;
}

.gha-header {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 20px);
  padding: 10px;
  height: 67px;
  border-bottom: 1px solid #ddd;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.gha-footer {
  position: absolute;
  bottom: -1px;
  left: 1px;
  padding: 5px;
  border-top: 1px solid #ddd;
  height: 16px;
  width: calc(100% - 15px);
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  color: #495961;
  font-size: 13px;
  padding-left: 10px;
}

.gha-footer a {
  float: right;
  color: #495961;
  padding-right: 20px;
  font-size: 13px;
  font-weight: bold;
}

.gha-footer a:hover { text-decoration: none; }
.gha-header a:hover { text-decoration: none; }

.gha-github-icon {
  display: inline;
  float: left;
  padding: 9px 0 0;
  width: 35px;
  height: 35px;
  color: #495961;
}

.gha-github-icon .octicon {
  font: normal normal 40px octicons;
}

.gha-gravatar {
  display: inline;
  float: right;
  margin-right: 10px;
  padding-right: 20px;
  max-width: 60px;
  height: 67px;
}

.gha-gravatar img {
  padding: 3px;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ccc;
}

.gha-activity {
  clear: both;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}


.gha-activity.gha-small {
  font-weight: normal;
  font-size: 13px;
}

.gha-activity.gha-small a {
  font-weight: normal;
}

.gha-activity.gha-small span {
  font-size: 16px;
}

.gha-activity:last-child {
  padding-bottom: 100px;
}

.gha-repo {
  clear: both;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.gha-activity-icon .octicon{
  display: inline;
  float: left;
  clear: both;
  margin: 6px auto; 
  width: 50px;
  color: #bbb;
  text-align: center;
  font: normal normal 30px octicons;
}

.gha-activity-icon .gha-small {
  font-size: 16px;
}

.gha-message {
  display: inline-block;
  float: left;
  width: calc(100% - 50px);
}

.gha-message-commits { font-size: 11px; }

.gha-message-merge {
  padding: 3px 7px;
  border-radius: 3px;
  background: #e8f1f6;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  line-height: 2.0;
}

.gha-sha {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.gha-gravatar-small {
  float: left;
  margin-right: 6px;
  width: 30px;
}

.gha-gravatar-commit {
  margin-bottom: -3px;
  border-radius: 2px;
}

.gha-gravatar-user { float: left; }

.gha-user-info {
  display: inline-block;
  float: left;
  margin: 0 auto;
  padding: 6px 10px 5px;
  color: #495961;
  font-size: 20px;
}

.gha-user-info a { color: #495961; }
.gha-user-info p a { font-weight: 100; }

.gha-without-name {
  padding-top: 20px;
  padding-left: 15px;
}

.gha-info {
  margin: 15px;
  padding: 10px;
  border: 1px solid #e4e4c6;
  border-radius: 4px;
  background: #ffffde;
  color: #6d6d4b;
  font-weight: normal;
  font-size: 13px;
}

.gha-time {
  color: #bbb;
  font-weight: normal; 
  font-size: 12px; 
}

.gha-clear { clear: both; }
.gha-muted { color: #666; }
.gha-push  { height: 87px; }
.gha-push-small  { height: 26px; }
